In [1]:
import numpy as np
import pandas as pd

In [2]:
data_tunggal = np.array([70, 80, 79,68, 90, 92, 80, 70, 83, 63, 76, 76, 61, 49, 99, 84, 82, 71, 88, 72,74, 35, 70, 93, 88, 91, 51, 74, 73, 60, 71, 63, 72, 48, 95, 90, 82, 92, 85, 70])

In [3]:
data_tunggal

array([70, 80, 79, 68, 90, 92, 80, 70, 83, 63, 76, 76, 61, 49, 99, 84, 82,
       71, 88, 72, 74, 35, 70, 93, 88, 91, 51, 74, 73, 60, 71, 63, 72, 48,
       95, 90, 82, 92, 85, 70])

In [4]:
mean = np.mean(data_tunggal)
print(mean)

75.25

In [5]:
module = np.bincount(data_tunggal)
print(module)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 2 0 0 0 0 1 0 4 2 2 1
 2 0 2 0 0 1 2 0 2 1 1 1 0 0 2 0 2 1 2 1 0 1 0 0 0 1]

In [6]:
module = np.median(data_tunggal)
print(module)

75.0

In [7]:
variance = np.var(data_tunggal)
print(variance)

195.6375

In [8]:
std  = np.std(data_tunggal)
print(std)

13.987047579814691

## Calculate manual

In [16]:
df_tunggal = pd.DataFrame(data_tunggal, columns=["Data"])

In [19]:
df_tunggal['data_min_mean'] = df_tunggal.Data - mean

In [21]:
df_tunggal['power_min_mean'] = np.power(df_tunggal.data_min_mean,2)
df_tunggal

    Data  data_min_mean  power_min_mean
0     70          -5.25         27.5625
1     80           4.75         22.5625
2     79           3.75         14.0625
3     68          -7.25         52.5625
4     90          14.75        217.5625
5     92          16.75        280.5625
6     80           4.75         22.5625
7     70          -5.25         27.5625
8     83           7.75         60.0625
9     63         -12.25        150.0625
10    76           0.75          0.5625
11    76           0.75          0.5625
12    61         -14.25        203.0625
13    49         -26.25        689.0625
14    99          23.75        564.0625
15    84           8.75         76.5625
16    82           6.75         45.5625
17    71          -4.25         18.0625
18    88          12.75        162.5625
19    72          -3.25         10.5625
20    74          -1.25          1.5625
21    35         -40.25       1620.0625
22    70          -5.25         27.5625
23    93          17.75        315.0625
24    88          12.75        162.5625
25    91          15.75        248.0625
26    51         -24.25        588.0625
27    74          -1.25          1.5625
28    73          -2.25          5.0625
29    60         -15.25        232.5625
30    71          -4.25         18.0625
31    63         -12.25        150.0625
32    72          -3.25         10.5625
33    48         -27.25        742.5625
34    95          19.75        390.0625
35    90          14.75        217.5625
36    82           6.75         45.5625
37    92          16.75        280.5625
38    85           9.75         95.0625
39    70          -5.25         27.5625

In [24]:
np.sqrt( sum (df_tunggal.power_min_mean)/40 )

np.float64(13.987047579814691)

In [26]:
sum (df_tunggal.power_min_mean)

7825.5

In [27]:
sum(df_tunggal.Data)

3010

## Data Kelompok

In [25]:
lower_bound = np.array([40,45,50,55,60,65,70,75,80,85,90])
upper_bound = lower_bound + 5
frekuensi = np.array([3,4,6,8,10,11,15,6,4,2,2])

In [26]:
data_frame_data = pd.DataFrame({"lower_bound":lower_bound, "upper_bound":upper_bound, "frekuensi":frekuensi})
data_frame_data

    lower_bound  upper_bound  frekuensi
0            40           45          3
1            45           50          4
2            50           55          6
3            55           60          8
4            60           65         10
5            65           70         11
6            70           75         15
7            75           80          6
8            80           85          4
9            85           90          2
10           90           95          2

In [27]:
data_frame_data['mid_class'] = (lower_bound+upper_bound)/2

In [28]:
data_frame_data

    lower_bound  upper_bound  frekuensi  mid_class
0            40           45          3       42.5
1            45           50          4       47.5
2            50           55          6       52.5
3            55           60          8       57.5
4            60           65         10       62.5
5            65           70         11       67.5
6            70           75         15       72.5
7            75           80          6       77.5
8            80           85          4       82.5
9            85           90          2       87.5
10           90           95          2       92.5

In [29]:
data_frame_data['cummulative'] = data_frame_data.frekuensi * data_frame_data.mid_class

In [30]:
data_frame_data

    lower_bound  upper_bound  frekuensi  mid_class  cummulative
0            40           45          3       42.5        127.5
1            45           50          4       47.5        190.0
2            50           55          6       52.5        315.0
3            55           60          8       57.5        460.0
4            60           65         10       62.5        625.0
5            65           70         11       67.5        742.5
6            70           75         15       72.5       1087.5
7            75           80          6       77.5        465.0
8            80           85          4       82.5        330.0
9            85           90          2       87.5        175.0
10           90           95          2       92.5        185.0

In [39]:
mean = np.mean(data_frame_data.cummulative)
count_data_class = len(data_frame_data)
sum_data = data_frame_data.cummulative.sum()
mean, sum_data, count_data_class

(np.float64(427.5), np.float64(4702.5), 11)

In [33]:
data_frame_data['range_meanX_min_X'] = abs(data_frame_data.cummulative - mean)

In [34]:
data_frame_data

,lower_bound,upper_bound,frekuensi,mid_class,cummulative,range_meanX_min_X
0,40,45,3,42.5,127.5,300.0
1,45,50,4,47.5,190.0,237.5
2,50,55,6,52.5,315.0,112.5
3,55,60,8,57.5,460.0,32.5
4,60,65,10,62.5,625.0,197.5
5,65,70,11,67.5,742.5,315.0
6,70,75,15,72.5,1087.5,660.0
7,75,80,6,77.5,465.0,37.5
8,80,85,4,82.5,330.0,97.5
9,85,90,2,87.5,175.0,252.5
10,90,95,2,92.5,185.0,242.5

In [41]:
variace = data_frame_data.range_meanX_min_X.sum() / (count_data_class - 1)
variace

np.float64(248.5)

In [43]:
import math
std = math.sqrt(variace)
std

15.763882770434446