In [3]:
import numpy as np
import pandas as pd

In [2]:
data_tunggal = np.array([70, 80, 79,68, 90, 92, 80, 70, 83, 63, 76, 76, 61, 49, 99, 84, 82, 71, 88, 72,74, 35, 70, 93, 88, 91, 51, 74, 73, 60, 71, 63, 72, 48, 95, 90, 82, 92, 85, 70])

In [44]:
data_tunggal

array([70, 80, 79, 68, 90, 92, 80, 70, 83, 63, 76, 76, 61, 49, 99, 84, 82,
       71, 88, 72, 74, 35, 70, 93, 88, 91, 51, 74, 73, 60, 71, 63, 72, 48,
       95, 90, 82, 92, 85, 70])

In [10]:
mean = np.mean(data_tunggal)
print(mean)

75.25

In [14]:
module = np.bincount(data_tunggal)
print(module)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 2 0 0 0 0 1 0 4 2 2 1
 2 0 2 0 0 1 2 0 2 1 1 1 0 0 2 0 2 1 2 1 0 1 0 0 0 1]

In [16]:
module = np.median(data_tunggal)
print(module)

75.0

In [18]:
variance = np.var(data_tunggal)
print(variance)

195.6375

In [20]:
std  = np.std(data_tunggal)
print(std)

13.987047579814691

## Data Kelompok

In [25]:
lower_bound = np.array([40,45,50,55,60,65,70,75,80,85,90])
upper_bound = lower_bound + 5
frekuensi = np.array([3,4,6,8,10,11,15,6,4,2,2])

In [26]:
data_frame_data = pd.DataFrame({"lower_bound":lower_bound, "upper_bound":upper_bound, "frekuensi":frekuensi})
data_frame_data

    lower_bound  upper_bound  frekuensi
0            40           45          3
1            45           50          4
2            50           55          6
3            55           60          8
4            60           65         10
5            65           70         11
6            70           75         15
7            75           80          6
8            80           85          4
9            85           90          2
10           90           95          2

In [27]:
data_frame_data['mid_class'] = (lower_bound+upper_bound)/2

In [28]:
data_frame_data

    lower_bound  upper_bound  frekuensi  mid_class
0            40           45          3       42.5
1            45           50          4       47.5
2            50           55          6       52.5
3            55           60          8       57.5
4            60           65         10       62.5
5            65           70         11       67.5
6            70           75         15       72.5
7            75           80          6       77.5
8            80           85          4       82.5
9            85           90          2       87.5
10           90           95          2       92.5

In [29]:
data_frame_data['cummulative'] = data_frame_data.frekuensi * data_frame_data.mid_class

In [30]:
data_frame_data

    lower_bound  upper_bound  frekuensi  mid_class  cummulative
0            40           45          3       42.5        127.5
1            45           50          4       47.5        190.0
2            50           55          6       52.5        315.0
3            55           60          8       57.5        460.0
4            60           65         10       62.5        625.0
5            65           70         11       67.5        742.5
6            70           75         15       72.5       1087.5
7            75           80          6       77.5        465.0
8            80           85          4       82.5        330.0
9            85           90          2       87.5        175.0
10           90           95          2       92.5        185.0

In [39]:
mean = np.mean(data_frame_data.cummulative)
count_data_class = len(data_frame_data)
sum_data = data_frame_data.cummulative.sum()
mean, sum_data, count_data_class

(np.float64(427.5), np.float64(4702.5), 11)

In [33]:
data_frame_data['range_meanX_min_X'] = abs(data_frame_data.cummulative - mean)

In [34]:
data_frame_data

,lower_bound,upper_bound,frekuensi,mid_class,cummulative,range_meanX_min_X
0,40,45,3,42.5,127.5,300.0
1,45,50,4,47.5,190.0,237.5
2,50,55,6,52.5,315.0,112.5
3,55,60,8,57.5,460.0,32.5
4,60,65,10,62.5,625.0,197.5
5,65,70,11,67.5,742.5,315.0
6,70,75,15,72.5,1087.5,660.0
7,75,80,6,77.5,465.0,37.5
8,80,85,4,82.5,330.0,97.5
9,85,90,2,87.5,175.0,252.5
10,90,95,2,92.5,185.0,242.5

In [41]:
variace = data_frame_data.range_meanX_min_X.sum() / (count_data_class - 1)
variace

np.float64(248.5)

In [43]:
import math
std = math.sqrt(variace)
std

15.763882770434446